# Secret for NextAuth.js
NEXTAUTH_SECRET=
# Dashboard URL
NEXTAUTH_URL=
# Secret for unsealing encrypted token
SESSION_SECRET=
# Server URL
NEXT_PUBLIC_SERVER_URL=
# Server URL with dashboard service port
NEXT_PUBLIC_DASHBOARD_SERVICE_URL=